.MarginTopButton__20 {
    font-size: 1rem;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 25px;
}
.MarginTopButton__30 {
    font-size: 1rem;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    margin-top: 30px;
    border-radius: 25px;
}
