body {
    height: 100vh;
    padding: 20px;
    background: url('../../img/background-4876988_1280.jpg') no-repeat center / cover;
    color: $gray-000;
    overflow: hidden;

    ::-webkit-scrollbar {
        width: 0px;
        display: block;
    }
    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-button {
        display: none;
    }
}
