@import 'assets/sass';

.EvaluateWaterResult {
    width: 100%;
    height: 92%;
    animation: fade-top 0.5s ease-in-out;
    overflow: hidden;
    // background-color: rgb(3, 70, 47);

    > h2 {
        margin-top: 20px;

        text-align: center;

        font-weight: 700;
    }

    textarea {
        width: 90%;
        height: 200px;
        resize: none;
        outline: none;
        border: none;
        padding: 10px;
        border: 1px solid $gray-300;
    }
    &_slider {
        color: black;
        width: 97%;
        margin: 10px auto 10px;
        height: 100%;
        overflow: auto;

        .modal {
            animation: fade-top 0.3s ease-in-out;
            width: 500px;
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            border-radius: 8px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;

            &::before {
                content: '';
                z-index: -1;
                position: absolute;

                width: 3840px;
                height: 2160px;
                background-color: rgba($color: #000, $alpha: 0.8);
            }

            p {
                font-size: 20px;
                font-weight: 700;
                text-align: center;
                color: $gray-900;
                margin-bottom: 30px;

                &::before {
                    content: '';
                    z-index: -1;
                    position: absolute;
                    background-color: #fff;
                    top: -40px;
                    right: 0px;
                    border-radius: 10px;
                    width: 500px;
                    height: 200px;
                }
            }

            button {
                width: 200px;
                height: 60px;
                margin-right: 10px;
                margin-left: 10px;
                background-color: $main-color2;
                color: $gray-000;
                border: none;
                border-radius: 5px;
                cursor: pointer;

                &:nth-child(3) {
                    background-color: $gray-400;
                }
            }
        }

        &_wrap1 {
            width: 100%;
            display: flex;

            &_left {
                line-height: 1.4;

                width: 10%;
                background-color: $main-color2;
                color: $gray-000;
                display: flex;
                justify-content: center;
                border: 1px solid $gray-300;
                align-items: center;
                text-align: center;
                position: relative;
            }

            .fullright {
                display: flex;
                width: 90%;
                flex-wrap: wrap;
                .buttonPlus {
                    width: 100%;
                    height: 38px;
                    color: $main-color2;
                    cursor: pointer;
                    font-size: 30px;

                    background-color: $gray-300;
                    border: 1px solid $gray-300;

                    &:hover {
                        color: $main-color;
                        background-color: $main-color2;
                    }
                }
                .fulldiv {
                    width: 100%;
                    display: flex;
                    .buttonDelete {
                        width: 3%;
                        color: $main-color2;
                        cursor: pointer;
                        font-size: 45px;

                        background-color: $gray-400;
                        border: 1px solid $gray-400;
                        border-top: $gray-300 1px solid;
                        &:hover {
                            color: $main-color;
                            background-color: $main-color2;
                        }
                    }
                }
            }
            &_rightP {
                width: 97%;
                height: 329px;
                display: flex;
                position: relative;
                flex-wrap: wrap;
                .p1 {
                    font-size: 20px;
                    padding: 5px;
                    position: absolute;
                    right: 50%;
                    top: -5px;
                    z-index: 1;
                    cursor: pointer;
                }
                .p2 {
                    font-size: 20px;

                    padding: 5px;
                    position: absolute;
                    right: 0;
                    cursor: pointer;
                    top: -5px;
                    z-index: 1;
                }

                > label {
                    width: 50%;
                    height: 100%;
                    position: relative;
                    border: 1px solid $gray-300;

                    > input[type='file'] {
                        display: none; // 숨김 처리
                    }

                    .img1 {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        padding: 1px;
                        left: 0;
                        top: 0;
                    }
                    .img2 {
                        padding: 1px;
                        height: 100%;

                        position: absolute;
                        width: 100%;
                        right: 0;
                        top: 0;
                    }
                    > h3 {
                        width: 100%;
                        height: 100%;
                        color: $gray-400;
                        text-align: center;
                        line-height: 329px;
                        &:hover {
                            color: $gray-900;
                        }
                    }
                }

                .button1 {
                    width: 100%;
                }
            }

            &_right {
                width: 90%;
                .PerformanceTestChartIn2 {
                    display: flex;

                    .PerformanceTestChartTable {
                        display: flex;
                        background-color: #ffffff;
                        width: 100%;
                        height: 413px;

                        padding: 15px;
                        border: 1px solid $gray-300;
                    }
                }

                > input {
                    padding: 10px;

                    width: 100%;
                    border: 1px solid $gray-300;
                    line-height: 1.7;
                    white-space: pre-wrap;
                    outline: none;
                }
                > textarea {
                    padding: 10px;
                    width: 100%;
                    border: 1px solid $gray-300;
                    line-height: 1.7;
                    outline: none;
                    resize: none;
                }

                > p {
                    padding: 10px;
                    border: 1px solid $gray-300;
                    line-height: 1.7;
                    white-space: pre-wrap;
                    height: 100%;
                }

                > img {
                    border: 1px solid $gray-300;
                    width: 50%;
                }
            }
        }
        .EvaluateWaterResult_button {
            font-size: 1.25rem;
            color: $gray-000;
            font-weight: 700;
            width: 100%;
            height: 50px;
            background: linear-gradient(to right, $main-color, $main-color2);
            margin: 20px auto;
            border-radius: 5px;
        }
    }
}
